@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: FontAwesome;
  src: url(../fontawesome/webfonts/FontAwesome.otf);
}

@font-face {
  font-family: gotham-thin;
  src: url(../fonts/Gotham-Font/Gotham-Thin.otf);
}

@font-face {
  font-family: gotham-light;
  src: url(../fonts/Gotham-Font/Gotham-Light.otf);
}

@font-face {
  font-family: gotham-bold;
  src: url(../fonts/Gotham-Font/Gotham-Bold.otf);
}

@font-face {
  font-family: gotham-black;
  src: url(../fonts/Gotham-Font/Gotham-Black.otf);
}

@font-face {
  font-family: marguerite;
  src: url(../fonts/marguerite_3/marguerite.ttf);
}

:root {
  --primary-color: #14b7e3;
  --secondary-color: #bfbfbf;
  --dark-color: #28282d;
  --light-color: #f0f0f0;

  --phone-color: #25d366;
  --mail-color: #f2a60c;
  --facebook-color: #1778f2;
  --linkedin-color: #0077b5;
  --instagram-color: #d62976;
  --instagram-bg-color: linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);

  --primary-font-family: "Montserrat", sans-serif;
  --rare-font-family: marguerite;
  --h1-font-family: gotham-black;
  --h-font-family: gotham-bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font-family);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 15px;
  border: 1px solid #fff;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--primary-color) #082e40;
  }
}

h1 {
  margin: 0px;
  font-family: var(--h1-font-family);
  color: #4d4d4d;
}

a {
  text-decoration: none !important;
  color: transparent;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none !important;
  color: transparent;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: var(--h-font-family);
  color: #4d4d4d;
}

p {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder {
  color: #999999;
}

input::-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}

textarea:-moz-placeholder {
  color: #999999;
}

textarea::-moz-placeholder {
  color: #999999;
}

textarea:-ms-input-placeholder {
  color: #999999;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/* CUSTOM BTNS */
.custom-btn {
  margin-inline: 15px;
  padding: 10px 15px;
  font-size: 14px;
  background: transparent;
  border: none;
  position: relative;
  color: var(--light-color);
  z-index: 1;
}

.custom-btn::after,
.custom-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.custom-btn::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  /* border-radius: 10px; */
}

.custom-btn::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

.custom-btn:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.custom-btn:hover::after {
  border-radius: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.custom-btn:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.btn2::before {
  background: var(--dark-color);
}

.btn2::after {
  background: rgba(255, 255, 255, 0.1);
}

/* ------------- HOME BANNER ------------- */

.banners {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--primary-font-family);
  height: 350px;
}

.home-banner {
  width: 100%;
  height: 100dvh;
}

.home-banner .main {
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
}

.slider-outer {
  height: 100% !important;

  overflow: hidden;
}

.slider {

  width: 100%;
  height: 100%;

}

.slide-image {
  width: 100%;
  height: 100dvh;
  display: block;
  color: transparent;
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
}

.slider .slide-item {
  float: left;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

.main-text .content .text h2 {
  font-size: 50px;
  font-family: var(--h-font-family);
  color: #fff;
  margin-bottom: 20px;
}

.main-text .content .text p {
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}

/* ------------- NAVBAR ------------- */

.navbar {
  position: absolute;
  bottom: 0;
  height: 50px;
}

.navbar .container-fluid {
  position: relative;
  display: flex;
  justify-content: center;
}

.web-logo {
  padding: 10px;
  margin-top: -50px;
}

.web-logo .navbar-brand {
  margin-right: 0;
}

.mob-logo {
  display: none;
}

.navbar-brand img {
  width: 280px;
  height: 80px;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-2 {
  margin-left: 40px;
  padding-left: 20px;
}

.nav-link {
  padding-inline: 0.2rem !important;
  color: #f8f8f8;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.3s ease-out;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: var(--primary-color) !important;
}

.nav-link:hover::after,
.nav-link:hover::before,
.nav-link:focus::before,
.nav-link:focus::after,
.nav-link.active::before,
.nav-link.active::after {
  opacity: 10 !important;
}

.nav-link::before,
.nav-link.active::before {
  content: "\263C";
  margin-right: 4px;
  font-weight: 600;
  color: var(--secondary-color);
  opacity: 0;
  transition: opacity 200ms linear;
}

.nav-link::after,
.nav-link.active::after {
  content: "\263C";
  margin-left: 4px;
  font-weight: 600;
  color: var(--secondary-color);
  opacity: 0;
  transition: opacity 200ms linear;
}

.navbar-nav .dropdown-menu {
  padding-block: 0;
  border-radius: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.dropdown-item {
  padding-block: 8px;
  font-size: 13px;
  font-weight: 600;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active {
  background-color: var(--primary-color);
  color: #fff;
}

.drop-arrow {
  width: 100%;
  margin-top: -18px;
  text-align: center;
  padding-right: 3em;
  position: absolute;
  font-size: 40px;
  color: #fff;
  z-index: -1;
}

@media only screen and (min-width: 992px) {
  .sticky.navbar .dropdown-menu {
    top: 3.14rem;
  }

  .navbar-nav .dropdown-menu {
    top: -11rem;
  }
}

/* sticky navbar */

#home .sticky.navbar {
  animation: slideInUp 0.3s linear;
}

.sticky.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: 12.2dvh;
  z-index: 99;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.sticky.navbar .web-logo {
  display: none;
}

.sticky.navbar .mob-logo {
  display: block;
}

.sticky.navbar .mob-logo img {
  width: 150px;
  height: 40px;
}

.sticky.navbar .navbar-collapse {
  justify-content: end;
}

.sticky.navbar .navbar-collapse:last-child {
  justify-content: start;
}

.sticky.navbar .nav-1 {
  margin-right: 0;
  padding-right: 0;
}

.sticky.navbar .nav-2 {
  margin-left: 0;
  padding-left: 0;
}

.sticky.navbar .nav-link {
  color: var(--dark-color);
}

.sticky.navbar .dropdown-menu {
  background-color: var(--primary-color);
  border: 0;
}

.sticky.navbar .dropdown-item {
  color: #fff;
}

.sticky.navbar .dropdown-item:focus,
.sticky.navbar .dropdown-item:hover,
.sticky.navbar .dropdown-item.active {
  background-color: #fff;
  color: var(--primary-color);
}

.sticky.navbar .dropdown-menu .drop-arrow {
  top: -1.5rem;
  color: var(--primary-color);
  transform: scaleY(-1);
}

#bottomNav {
  transition: all 300ms linear;
}

@media screen and (max-width: 752px) {
  #bottomNav {
    transform: translateY(100%);
    opacity: 0;
  }
}

.social-box {
  position: absolute;
  top: 22px;
  right: 30px;
  position: fixed;
  z-index: 9999;
}

.social-s .social-link {
  color: var(--dark-color);
}

.social-link {
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
  transition: color 0.3s ease-out;
}

.social-link:hover {
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.8));
}

.social-link.insta:hover {
  color: var(--instagram-color);
}

.social-link.mail:hover {
  color: var(--mail-color);
}

.social-link.call:hover {
  color: var(--phone-color);
}

/* Mob Navbar */

#mobNav.sticknav {
  background-color: var(--dark-color);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
  top: -5px;
}

.mnb-logo {
  padding: 10px;
}

.mnb-logo img {
  width: 190px;
  height: auto;
}

.mob-navbar {
  width: 100%;
  height: 70px;
  background-color: transparent;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 999;
}

aside {
  height: 100vh;
  min-height: 580px;
  width: 250px;
  left: 0;
  top: 0;
  z-index: 1001;
  position: fixed;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  background-color: #fff;
  -webkit-transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1), 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
}

.show-sidebar aside {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

aside .toggle {
  padding-left: 20px;
  padding-top: 20px;
  position: absolute;
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.show-sidebar aside .toggle .burger:before,
.show-sidebar aside .toggle .burger span,
.show-sidebar aside .toggle .burger:after {
  background: var(--primary-color);
}

.show-sidebar aside {
  -webkit-box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1);
}

aside .side-inner {
  padding: 50px 0;
  height: 100vh;
}

aside .side-inner .profile {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #efefef;
}

aside .side-inner .profile img {
  width: 220px;
  margin: 0 auto 20px auto;
}

aside .side-inner .nav-menu ul,
aside .side-inner .nav-menu ul li {
  padding: 0;
  margin: 0px;
  list-style: none;
}

aside .side-inner .nav-menu ul li a {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #8b8b8b;
  position: relative;
  -webkit-transition: .3s padding-left ease;
  -o-transition: .3s padding-left ease;
  transition: .3s padding-left ease;
}

aside .side-inner .nav-menu ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0px;
  background-color: #ff7315;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s opacity ease, .3s visibility ease, .3s width ease;
  -o-transition: .3s opacity ease, .3s visibility ease, .3s width ease;
  transition: .3s opacity ease, .3s visibility ease, .3s width ease;
}

aside .side-inner .nav-menu ul li a:active,
aside .side-inner .nav-menu ul li a:focus,
aside .side-inner .nav-menu ul li a:hover {
  outline: none;
}

aside .side-inner .nav-menu ul li a:hover {
  background: #fcfcfc;
  color: #000;
}

aside .side-inner .nav-menu ul li a:hover:before {
  width: 4px;
  opacity: 1;
  visibility: visible;
}

aside .side-inner .nav-menu ul li.active a {
  background: #fcfcfc;
  color: #000;
}

aside .side-inner .nav-menu ul li.active a:before {
  opacity: 1;
  visibility: visible;
  width: 4px;
}

aside .dropdown-menu {
  position: static !important;
  transform: none !important;
  border-radius: 0;
}

main {
  width: calc(100%);
}

main .post-entry {
  margin-bottom: 30px;
}

main .post-entry .custom-thumbnail {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  margin-right: 30px;
}

main .post-content h3 {
  font-size: 18px;
}

main .post-content .post-meta {
  font-size: 15px;
  color: #ccc;
}

/* Burger */
.burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative;
  z-index: 99;
  float: right;
}

.burger:before,
.burger span,
.burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  opacity: 1;
}

.burger span {
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
}

.burger:before,
.burger:after {
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
}

.burger:before {
  top: 4px;
}

.burger span {
  top: 15px;
}

.burger:after {
  top: 26px;
}

/* Hover */
.burger:hover:before {
  top: 7px;
}

.burger:hover:after {
  top: 23px;
}

/* Click */
.burger.active span {
  opacity: 0;
}

.burger.active:before,
.burger.active:after {
  top: 40%;
}

.burger.active:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
  /*for IE*/
}

.burger.active:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
  /*for IE*/
}

.burger:focus {
  outline: none;
}

/* hiw section */

.hiw-title h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hiw-text {
  padding: 30px 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.hiw-text p {
  font-size: 13.5px;
  margin-bottom: 20px;
}

.hiw-video {
  height: 100%;
}

.hiw-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hiw-text .custom-btn {
  margin-inline: 0;
  margin-bottom: 20px;
}

/* ts section */

.ts {
  background: linear-gradient(to right bottom, #56d1f3, #158cad, #56d1f3);
  padding-block: 4rem 1.7rem;
}

.testimonial {
  padding: 50px 30px 50px;
  margin: 100px 30px 50px 30px;
  border: 1px solid #fff;
  position: relative;
  cursor: grab;
}

.testimonial .pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
}

.testimonial .pic img {
  width: 100%;
  height: auto;
}

.testimonial .description {
  font-size: 15px;
  color: #fff;
  line-height: 27px;
  text-align: center;
  padding-top: 20px;
  margin: 0;
  position: relative;
}

.ts-qoute {
  font-weight: 700;
  font-size: 25px;
  margin-right: 5px;
  color: #fff;
}

.testimonial .title {
  display: inline-table;
  padding: 10px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #fff;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
}

.owl-theme .owl-controls {
  width: 100%;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 38%;
}

.owl-theme .owl-controls .owl-buttons div {
  width: 50px;
  height: 50px;
  line-height: 40px;
  border-radius: 0;
  background: transparent;
}

.owl-prev {
  z-index: 2;
  position: absolute;
  left: -5%;
}

.owl-next {
  z-index: 2;
  position: absolute;
  right: -5%;
}

.owl-prev:after,
.owl-next:after {
  content: "\1F894";
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  opacity: 1;
}

.owl-next:after {
  content: "\1F896";
}

@media only screen and (max-width: 479px) {
  .testimonial {
    padding: 30px 10px 30px;
  }

  .testimonial .description:before {
    top: -20px;
  }

  .testimonial .title {
    font-size: 12px;
  }

  .testimonial .post {
    font-size: 11px;
  }
}

/* services section */

.services {
  height: 100%;
}

.serv-left {
  background-color: var(--primary-color);
  padding: 8rem 6rem 0 3rem;
}

.serv-left h1 {
  font-size: 55px;
  margin-bottom: 20px;
  color: #000;
}

.serv-right .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  padding: 3rem 3rem 0 3rem;
  position: relative;
}

.serv-overlay {
  position: absolute;
  z-index: 1;
  top: 3rem;
  left: 3rem;
  right: 3rem;
}

.serv-overlay video {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.serv-right .serv-item {
  width: 100%;
  height: 300px;
  padding: 35px;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  transition: all .5s linear;
  cursor: pointer;
}

.serv-item:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.serv-item:hover .serv-text h3,
.serv-item:hover .serv-text p {
  color: #fff;
}

.serv-right .serv-item:hover .serv-no h1 {
  color: var(--primary-color);
  text-shadow: -2px -2px 0 rgba(255, 255, 255, 0.8);
}

.serv-right .serv-text h3 {
  color: #000;
  margin-bottom: 20px;
  font-size: 33px;
  line-height: 1.1;
  letter-spacing: -1px;
}

.serv-text p {
  font-size: 14px;
  color: #565656;
}

.serv-1,
.serv-3 {
  border: 1px solid var(--secondary-color);
  border-right: none;
}

.serv-1,
.serv-2 {
  border-bottom: 0;
}

.serv-2,
.serv-4 {
  border: 1px solid var(--secondary-color);
}

.serv-item .serv-no {
  position: absolute;
  right: 5px;
  bottom: -10px;
}

.serv-no h1 {
  font-size: 4rem;
  color: rgba(20, 182, 227, 0.3);
  transition: color .3s ease;
}

/* jso section */

.jso {
  margin: 5rem;
  position: relative;
  display: flex;
  gap: 10px;
  align-items: start;
  flex-direction: column;
}

.jso-overlay {
  width: 300px;
  height: 250px;
  background-color: rgba(20, 182, 227, 0.15);
  position: absolute;
  left: -40px;
  z-index: 2;
  margin: 5px;
  opacity: 0;
}

.jso-overlay1 {
  top: -30px;
}

.jso-overlay2 {
  bottom: -30px;
}

.jso-img {
  position: relative;
  margin-left: 5rem;
  width: 300px;
  height: 250px;
  background-color: var(--primary-color);
}

.jso-img a {
  transition: all 0.3s ease;
}

.jso-img a:hover .jso-overlay {
  opacity: 1;
  transition: all 0.3s ease;
}

.jso-img img {
  position: absolute;
  width: 300px;
  height: 250px;
  border: 1px solid #bababa;
  margin: 5px;
  left: -40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.jso-i1 img {
  top: -30px;
}

.jso-i2 img {
  bottom: -30px;
}

.jso .col-md-7 {
  position: absolute;
  left: 32%;
  top: 8rem;
  z-index: 2;
}

.jso-text {
  text-align: justify;
  background-color: #fff;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  border-left: 10px solid var(--secondary-color);
}

.jso-text::before,
.jso-text::after {
  content: "";
  position: absolute;
  left: 0;
  width: 27px;
  height: 10px;
  background-color: var(--secondary-color);
}

.jso-text::before {
  top: 0;
}

.jso-text h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: start;
  text-transform: uppercase;
}

.jso-text p {
  font-size: 16px;
}

.reveal {
  position: relative;
  transform: translateY(70px) translateX(70px);
  opacity: 0;
  transition: 1.7s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* ewg section */

.ewg {
  padding-top: 3rem;
  text-align: center;
}

.ewg .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ewg h2 {
  font-size: 28px;
}

.ewg p {
  font-size: 15px;
  color: #535353;
}

.ewg-img {
  background: url(../images/OF_dashboard1_em.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-block: 2rem;
  height: 500px;
  width: 800px;
  transition: background-color 0.5s ease;
}

.ewg-img .ewg-overlay {
  height: 500px;
  width: 800px;
  background-color: rgba(20, 182, 227, 0.15);
  opacity: 0;
}

.ewg-img:hover .ewg-overlay {
  opacity: 1;
  transition: all 0.5s ease;
}

/* qbb section */

.qbb {
  background-color: #0b5f76;
  margin-top: 3rem;
  overflow: hidden;
}

.qbb h3 {
  text-transform: uppercase;
  padding-left: 20px;
  font-size: 23px;
  color: #fff;
}

.btn-cta {
  display: flex;
  padding: 11px 28px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  background: var(--primary-color);
  transition: 1s;
  box-shadow: 6px 6px 0 var(--dark-color);
  transform: skewX(-15deg);
  border: none;
}

.btn-cta:focus {
  outline: none;
}

.btn-cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fff;
  color: #fff;
  cursor: pointer;
  padding-left: 30px;
}

.btn-cta .second {
  transition: 0.5s;
  margin-right: 0px;
  display: flex;
}

.btn-cta:hover .second {
  transition: 0.5s;
  margin-right: 30px;
}

.span {
  transform: skewX(15deg);
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
}

.two {
  transition: 0.5s;
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--dark-color);
  }

  100% {
    fill: white;
  }
}

.pps {
  background-color: #000;
  padding-block: 2rem;
}

.wwd-title3 {
  padding-top: 20px;
  text-align: center;
}

.wwd-title3 h2 {
  font-family: var(--h1-font-family);
  margin-bottom: 0;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 3px #383838;
  font-size: 4rem;
  line-height: 0.8;
}

.wwd-title3 h2 span {
  font-family: var(--h1-font-family);
  -webkit-text-stroke: 3px #979797;
}

.pps-wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 3;
  grid-gap: 20px;
}

.pps-item {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 310px;
}

.pps-overlay {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 182, 227, 0.6);
  color: #fff;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.pps-item:hover .pps-overlay {
  top: 0;
}

.pps-i1 {
  background-image: url(../images/pi1.jpg);
  grid-row: 1/2;
  grid-column: 1/3;
}

.pps-i2 {
  background-image: url(../images/pi2.jpg);
  grid-row: 1/2;
  grid-column: 3/4;
}

.pps-i3 {
  background-image: url(../images/pi3.jpg);
  grid-row: 1/2;
  grid-column: 4/5;
}

.pps-i4 {
  background-image: url(../images/pi4.jpg);
  grid-row: 2/3;
  grid-column: 1/2;
}

.pps-i5 {
  background-image: url(../images/pi5.jpg);
  grid-row: 2/3;
  grid-column: 2/3;
}

.pps-i6 {
  background-image: url(../images/pi6.jpg);
  grid-row: 2/3;
  grid-column: 3/5;
}

/* cuf section */

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-block: 4rem;
}

.cuf-form {
  background-color: rgba(20, 182, 227, 0.2);
  border-radius: 5px;
  padding-block: 4rem;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
}

.cuf-text {
  padding: 0 1rem 0 3rem;
}

.cuf-p1 {
  color: blue;
}

.cuf-text h2 {
  font-weight: 400;
  margin-bottom: 10px;
  font-family: var(--primary-font-family);
  font-size: 40px;
  text-transform: capitalize;
}

.cuf-text h1 {
  font-size: 2.7em;
  margin-bottom: 20px;
}

.cuf-p2 {
  font-size: 18px;
  color: #525252;
  margin-bottom: 10px;
}

.cuf-p3 {
  color: #666666;
  font-size: 15px;
}

.contact1-form {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.contact1-form-title {
  width: 100%;
  display: block;
  font-family: var(--h-font-family);
  font-size: 32px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 30px;
}

input.input1 {
  height: 50px;
  padding: 0 30px;
}

textarea.input1 {
  min-height: 120px;
  padding: 12px 30px;
  resize: none;
}

textarea.input1+.shadow-input1 {
  border-radius: 15px;
}

/*-------------*/
.wrap-input1 {
  position: relative;
  width: 50%;
  z-index: 1;
  margin-bottom: 20px;
  padding-inline: 10px;
}

.wrap-textarea {
  width: 100%;
}

.input1 {
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

.input1:focus {
  border: 1px solid #14b7e3 !important;
}

.shadow-input1 {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 13px;
  z-index: -1;
  width: 92%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(20, 182, 227, 0.5);
}

.input1:focus+.shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*-----------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.form-btn {
  background: var(--primary-color);
  color: white;
  font-family: inherit;
  padding-left: 2.8em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 2px;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #0c7d9c;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 5em;
  cursor: pointer;
}

.form-btn .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 1.5px;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #0c7d9c;
  right: 0.3em;
  transition: all 0.3s;
}

.form-btn:hover .icon {
  width: calc(100% - 0.6em);
}

.form-btn .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: var(--primary-color);
}

.form-btn:hover .icon svg {
  transform: translateX(0.1em);
}

.form-btn:active .icon {
  transform: scale(0.95);
}

/*[ Responsive ]*/

@media (max-width: 991px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}

/*[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\0021";
  font-family: var(--h1-font-family);
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* footer section */

.ufs {
  height: 100%;
  background-color: var(--dark-color);
  margin-top: 10rem;
  color: #666873;
}

.ufs-logo {
  margin-top: -20px;
  padding-right: 5rem;
}

.ufs-logo p {
  text-align: justify;
  margin-top: 10px;
  padding-inline: 20px;
  font-size: 14px;
}

.ufs-logo img {
  width: 280px;
  height: 70px;
}

.footer-text ul {
  margin-top: 15px;
}

.footer-text h3 {
  color: #bababa;
  font-size: 20px;
}

.footer-text ul li {
  margin-bottom: 5px;
}

.footer-text li a {
  color: #666873;
  font-size: 16px;
}

.footer-text li a:hover {
  color: #979797;
}

.ufs-hr {
  width: 90%;
  margin-top: 30px;
}

.ufs .cta {
  -webkit-box-shadow: -20px -20px 0 0 rgba(20, 182, 227, 0.2);
  box-shadow: -20px -20px 0 0 rgba(20, 182, 227, 0.2);
  padding: 20px 0 10px 0;
  background-color: #0d7491;
  top: -60px;
  position: relative;
  transform: skew(-13deg);
}

.ufs .cta-inner {
  width: 90%;
  transform: skew(13deg);
}

.cta-info {
  margin-bottom: 20px;
}

.cta-info h2 {
  margin-top: 5px;
  font-size: 28px;
  color: #fff;
}

.cta-info-1 {
  margin-left: -10px;
  padding-right: 30px;
}

.cta-info-1 .ph {
  margin-right: 30px;
}

.cta-info-1 .ma {
  margin-right: 30px;
}

.cta-info-1 .add {
  font-size: 15px;
  color: #fff;
}

.cta-call {
  color: var(--phone-color);
  font-size: 18px;
  margin-right: 5px;
}

.cta-mail {
  color: var(--mail-color);
  font-size: 18px;
  margin-right: 5px;
}

.cta-loc {
  color: rgb(255, 98, 0);
  font-size: 18px;
  margin-right: 5px;
}

.cta-info-2 {
  width: 180px;
}

.main_back {
  position: absolute;
  border-radius: 10px;
  width: 220px;
  height: 55px;
  background: linear-gradient(45deg, rgba(3, 168, 244, 0.5), rgba(255, 255, 255, 0.4), rgba(176, 22, 156, 0.5));
  z-index: 1;
  box-shadow: inset 0px 0px 180px 5px rgba(255, 255, 255, 0.5);
}

.social-links .main {
  display: flex;
  width: 220px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.social-links h3 {
  margin-bottom: 40px;
}

.social-links .card {
  width: 70px;
  height: 55px;
  background: rgba(211, 211, 211, 0.1);
  transition: 0.4s ease-in-out, 0.2s background-color ease-in-out,
    0.2s background-image ease-in-out;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links .card:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.social-links .card .instagram {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: #cc39a4;
}

.social-links .card:nth-child(2) {
  border-radius: 0px;
}

.social-links .card:nth-child(2) .facebook {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: var(--facebook-color);
}

.social-links .card:nth-child(3) {
  border-radius: 0px;
}

.social-links .card:nth-child(3) .twitter {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: #03a9f4;
}

.social-links .card:nth-child(4) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.social-links .card:nth-child(4) .linkedin {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: var(--linkedin-color);
}

.social-links .main:hover {
  width: 14em;
  cursor: pointer;
  z-index: 1;
}

.social-links .main:hover .main_back {
  opacity: 0;
  z-index: -1;
}

.social-links .main:hover .card {
  z-index: 2;
  margin: 0.2em;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
}

.social-links .main:hover .card:nth-child(5) {
  border: transparent;
}

.social-links .main:hover .text {
  opacity: 0;
  z-index: -3;
}

.social-links .main:hover .instagram {
  opacity: 1;
}

.social-links .main:hover .twitter {
  opacity: 1;
}

.social-links .main:hover .facebook {
  opacity: 1;
}

.social-links .main:hover .linkedin {
  opacity: 1;
}


.social-links .card:nth-child(1):hover {
  background-color: #cc39a4;
}

.social-links .card:nth-child(1):hover .instagram {
  fill: white;
}

.social-links .card:nth-child(2):hover {
  background-color: var(--facebook-color);
}

.social-links .card:nth-child(2):hover .facebook {
  fill: white;
}

.social-links .card:nth-child(3):hover {
  background-color: #03a9f4;
}

.social-links .card:nth-child(3):hover .twitter {
  fill: white;
}

.social-links .card:nth-child(4):hover {
  background-color: var(--linkedin-color);
}

.social-links .card:nth-child(4):hover .linkedin {
  fill: white;
}

@keyframes backgroundIMG {
  100% {
    background-image: linear-gradient(#bf66ff, #6248ff, #00ddeb);
  }
}

.social-links .text {
  position: absolute;
  font-size: 0.7em;
  transition: 0.4s ease-in-out;
  color: black;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.33em;
  z-index: 3;
}

.ufs-copy {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-size: 12px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.ufs-terms a {
  font-size: 10px;
  color: #666873;
  margin-right: 10px;
}

.ufs-terms a:hover {
  color: #bababa;
}

/* -----------------------------
          CONTACT PAGE
------------------------------ */

.contact-banner {
  background-image: linear-gradient(to bottom, rgba(11, 37, 46, 0.8), rgba(11, 37, 46, 0.8)),
    url(../images/contact-bg.jpg);
}

.contact-main h1 {
  color: #fff;
  font-size: 4em;
  text-transform: capitalize;
  text-align: center;
}

.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--light-color);
  margin-top: 15px;
}

.breadcrumb a {
  color: var(--light-color);
}

.breadcrumb a:hover {
  color: var(--primary-color);
}

.breadcrumb .breadcrumb-item {
  color: var(--primary-color);
  cursor: pointer;
}


/* -----------------------------
          FAQ PAGE
------------------------------ */

.faq-banner {
  background-image: linear-gradient(to bottom, rgba(11, 37, 46, 0.8), rgba(11, 37, 46, 0.8)),
    url(../images/faq-bg.jpg);
}

.faq-section {
  margin-block: 4rem;
}

.faq-text p {
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.faq-text h1 {
  margin-top: 10px;
  font-family: var(--primary-font-family);
  font-size: 45px;
  font-weight: 400;
}

.faq-text span {
  font-family: var(--h-font-family);
  color: var(--primary-color);
}

.accordion {
  margin-top: 25px;
}

.accordion-item {
  margin-bottom: 15px;
}

.accordion-item {
  border: 0;
  border-radius: 0 !important;
}

.accordion-header .accordion-button {
  border: 0;
  border-radius: 0 !important;
  background-color: rgba(20, 182, 227, 0.05);
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  border: 0;
  background-color: var(--primary-color);
  color: #fff;
}

.accordion-button::after {
  content: "\002B";
  background-image: none;
  color: #000;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}

.accordion-button:not(.collapsed)::after {
  content: "\2212";
  background-image: none;
  transform: none;
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 10px;
}

.accordion-body {
  border: 0;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.1);
}

.faq-form {
  background-color: var(--dark-color);
  padding: 3rem;
}

.faq-formhead {
  margin-bottom: 30px;
}

.faq-formhead h2 {
  font-family: var(--primary-font-family);
  text-transform: capitalize;
  text-align: center;
  color: var(--light-color);
  font-size: 42px;
  font-weight: 400;
  text-shadow: 0px 5px 15px -3px rgb(0, 0, 0);
}

.faq-formhead h2 span {
  font-family: var(--h-font-family);
  text-shadow: 0px 5px 15px -3px rgb(0, 0, 0);
}

.faq-form .contact1-form {
  padding-right: 0;
}

.faq-form .wrap-input1 {
  width: 100%;
  margin-bottom: 30px;
}

.faq-form .wrap-input1 .input1 {
  box-shadow: 0px 5px 15px -3px rgb(0, 0, 0);
}


/* -----------------------------
          BRANDING PAGE
------------------------------ */

.brand-banner {
  background-image: linear-gradient(to bottom, rgba(11, 37, 46, 0.8), rgba(11, 37, 46, 0.8)),
    url(../images/brand-bg.jpg);
}

.service-main {
  text-align: start;
}

.service-main h1 {
  color: #fff;
  font-size: 45px;
}

.service-main .breadcrumb {
  text-align: start;
  justify-content: start;
}

.service-item {
  margin-top: 5.6rem;
  padding: 0 2rem;
}

.services-btns a {
  padding: .4rem 1rem;
  border-radius: .25rem;
  width: 100%;
  margin-bottom: .25rem;
  font-weight: 500;
  align-items: center;
  background: #082e40;
  color: #fff;
}

.services-btns a:hover,
.services-btns a.active {
  background-color: var(--primary-color);
}

.servCard {
  background-color: #082e40;
}

.icon-lg {
  background-color: var(--primary-color);
  position: absolute;
  width: 4.25rem;
  height: 4.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  top: 0;
  right: 0;
  margin-top: -2rem;
  margin-right: 1rem;
}

.bi-headphones::before {
  content: "\f413";
}

.bi::before,
[class*=" bi-"]::before,
[class^=bi-]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.service-item h3 {
  margin-bottom: .5rem;
}

.service-item p {
  margin-bottom: 1rem;
  font-size: .9rem;
}

.service-item span {
  font-size: .9rem;
}

.service-item img {
  max-width: 100%;
  height: auto;
}

.service-item .accordion-body {
  font-size: .9rem;
}

.text-primary {
  color: var(--primary-color) !important;
}

.small-serv-btns {
  margin-bottom: 30px;
}

.small-serv-btns p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}

.small-serv-btns p::before {
  content: "__";
  margin-right: 10px;
}

.small-serv-btns a {
  padding: .4rem 1rem;
  border-radius: .25rem;
  width: 100%;
  margin-bottom: .25rem;
  font-weight: 500;
  align-items: center;
  background: #082e40;
  color: #fff;
}

.small-serv-btns span {
  font-size: .7rem;
}

.small-serv-btns a:hover,
.small-serv-btns a:focus,
.small-serv-btns a.active {
  background-color: var(--primary-color);
}